@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    box-sizing: content-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: url(../img/back.png) center repeat;
}
h1,h2, h3, h4, h5{margin: 0px 0px;}

#wrapper{
    width:70%;
    margin: 80px auto;
    background: #EAE7E8; /* Old browsers */
    background: -moz-linear-gradient(225deg,  #EAE7E8 0%, #D1D3D2 50%, #BFBFBB 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(225deg,  #EAE7E8 0%,#D1D3D2 50%,#BFBFBB 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(225deg,  #EAE7E8 0%,#D1D3D2 50%,#BFBFBB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAE7E8', endColorstr='#BFBFBB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 20px -20px 25px #000000;
}
header{
    background-color: #dcc6b9;
    padding: 40px 0px;
    border-bottom: 5px solid #cfc4be;
}

.card-name{
    width: 50%;
    margin: 0px auto;
    border: 3px solid dimgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.card-name .card-left-box{
    border-right: 3px solid dimgray;
    width: 115px;
    align-content: center;
    display: flex;
}
.card-name .card-left-box h1{
    align-self: center;
    padding: 0px 20px;
}
.card-name .card-rigth-box{
    flex: auto;
}
.card-rigth-box .card-rigth-top{
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid dimgray;
}
.card-rigth-box .card-rigth-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card-rigth-bottom .card-dev{
    flex: auto;
    border-right: 3px solid dimgray;
    width: 50%;
    text-align: center; 
    padding: 10px 0px;
}
.card-rigth-bottom .card-date{
    flex: auto;
    width: 50%;
    text-align: center;
    padding: 10px 0px;
}
main{
    padding: 20px 50px;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile-image{
    flex: auto;
}
.profile-image img{
    width: 190px;
    border-radius: 50%;
}
.profile-text{
    flex: auto;
    padding: 0px 0px 0px 50px;
}
.cv{
    display: flex;
}
.cv svg{
    width: 30px;
}
.left{}
.left .contact{}
.left .contact h1{
    
}
.left .skills{}
.rigth{}
.right .education{}
.rigth .experience{}